  <div>
    <%= form_tag @wiki do  %>
    <table class="table table-hover table-bordered collaborator" align="center">
      <h1 class = "text-center">Collaborators</h1>
      <h3 class = "text-center">Choose users who have permission to edit this private wiki: <%= @wiki.title %></h3>


      <thead>
        <tr>
          <th >Users</th>
          <th >Collaborator</th>
        </tr>
      </thead>
      <tbody>
        <%= hidden_field_tag :wiki_id, @wiki.id %>
        <% @users.each do |user|  %>
            <%= content_tag :tr, class: 'media', id: "collaborator" do %>

              <td>  <%=  user.name %> </td>

              <%= hidden_field_tag :user_id, user.id %>

              <% if @wiki.users.include?(user) %>
                <td>  Yes </td>
              <% else %>
                <td>
                  <div class="form-group">
                    <%= check_box_tag "user_ids[]", user.id, @wiki.collaborators.where(user: user).any? %>
                  </div>
                </td>
              <% end %>

            <% end %>
          <% end %>

      </tbody>
    </table>
    <p> <%= submit_tag 'Add Collaborators', class: 'btn btn-info' %>
    <% end %>
  </div>
