.row
  .col-md-8
    %h1
      = @wiki.title
    %p
      by
      = @wiki.user.name


    - if policy(@wiki).update?
      = link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success'

    - if policy(@wiki).destroy?
      = link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' }
      %p
        = markdown @wiki.body
  .col-md-4
    %br/
    %h3 Collaborators
    - @wiki.users.each do |c|
      =c.name
      %br/
